model:
  cldm:
    target: model.cldm.ControlLDM
    params:
      latent_scale_factor: 0.18215
      unet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False

      clip_cfg:
        embed_dim: 1024
        vision_cfg:
          image_size: 224
          layers: 32
          width: 1280
          head_width: 80
          patch_size: 14
        text_cfg:
          context_length: 77
          vocab_size: 49408
          width: 1024
          heads: 16
          layers: 24
        layer: "penultimate"
      controlnet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        hint_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False

  diffusion:
    target: model.gaussian_diffusion.Diffusion
    params:
      linear_start: 0.00085
      linear_end: 0.0120
      timesteps: 1000
      zero_snr: False
      parameterization: eps

  # StackMFF V5 融合网络配置
  fusion_network:
    # VAE 模型路径 (与 Stable Diffusion 2.1 共享)
    vae_model_id: "/home/ot/.cache/huggingface/hub/models--Manojb--stable-diffusion-2-1-base/snapshots/0094d483a120f3f33dafbd187ea4aa60d10de75c"
    vae_subfolder: "vae"
    # DepthTransformer 融合网络配置
    depth_transformer:
      input_channels: 4
      embed_dim: 256
      num_heads: 8
      num_layers: 4
    # 预训练权重路径
    fusion_weights_path: "/home/ot/Students/xxz/projects_mff/StackMFFV5/train_runs/train_runs45/model_save/epoch_19.pth"

dataset:
  train:
    target: Dataloader.FocusStackDataset
    params:
      # 数据集路径配置
      datasets_root: "/home/ot/Students/xxz/datasets"
      train_datasets:
        - "DIODE-5000"
      subset_fraction: 1.0
      training_image_size: 512
      augment: True

train:
  # pretrained sd v2.1 path
  sd_path: "weights/v2-1_512-ema-pruned.ckpt"
  # experiment directory path
  exp_dir: "experiments/train_stackmffv5_stage2_exp1"
  learning_rate: 1.6e-5
  batch_size: 48
  num_workers: 8
  train_steps: 10000
  log_every: 50
  ckpt_every: 1000
  image_every: 1000
  # Pretrained IRControlNet path for initialization
  resume: "/home/ot/Students/xxz/projects_mff/StackMFFV5/weights/IRControlNet.pth"
  noise_aug_timestep: 0
